<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AIKeyboard">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TypingActivity"
            android:exported="false"
            android:label="Typing" />

        <activity
            android:name=".SoundsActivity"
            android:exported="false"
            android:label="Sounds &amp; Vibration" />

        <activity
            android:name=".ThemesActivity"
            android:exported="false"
            android:label="Themes" />

        <activity
            android:name=".LayoutActivity"
            android:exported="false"
            android:label="Layout &amp; Customization" />

        <activity
            android:name=".EmojisActivity"
            android:exported="false"
            android:label="Emojis" />

        <activity
            android:name=".ClipboardActivity"
            android:exported="false"
            android:label="Clipboard" />

        <activity
            android:name=".DictionaryActivity"
            android:exported="false"
            android:label="Dictionary" />

        <activity
            android:name=".ToolbarActivity"
            android:exported="false"
            android:label="Toolbar" />
        
        <activity
            android:name=".VoiceInputActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />

        <service
            android:name=".AIKeyboardService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>
</manifest>
